
<div class="container" style="text-align: center">
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-6">
      <h1 class="display-1">BMI kalkulačka</h1>
      <hr>
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="row justify-content-md-center">
          <div class="col-ms-12 col-md-10">
            <mat-form-field>
              <input matInput placeholder="Váha (kg)" formControlName="weight">
            </mat-form-field>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-ms-12 col-md-10">
            <mat-form-field>
              <input matInput placeholder="Výška (cm)" formControlName="height">
            </mat-form-field>
          </div>
        </div>
        <button mat-stroked-button color="primary" [disabled]="!form.valid">Vypočítat</button>
      </form>
    </div>
  </div>

  <div style="text-align: center" class="row" style="margin-top: 20px" *ngIf="info">
    <div class="col-sm-12">
      <h3 [ngStyle]="{'color': info.isOK ? 'green' : 'red'}">{{ info.header }}</h3>
      <br>
      <p>{{ info.description }}</p>
    </div>
  </div>
</div>
